* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(to bottom, #ff66b2, #66a3ff);
    padding: 20px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}

.nav-items a {
    text-decoration: none;
    padding-right: 5px;
    font-size: 20px;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.top-nav img {
    width: 70px;
    height: 70px;
}

.icons img {
    width: 30px;
    height: 30px;
    color: red;
}

.profile-pic {
    border-radius: 50%;
    margin-left: 5px;
}

section {
    opacity: 0.2;
    transition: opacity 0.7s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.hero-shoe img {
    width: 50vw;
    height: 25rem;
}

.hero-section {
    display: flex;
    margin-top: 50px;
    padding-left: 20px;
}

.hero-side {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.hero-side div span {
    font-size: 20px;
    margin-right: 5px;
}

.btn {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.btn1 {
    background-color: blue;
    color: white;
}

.btn2 {
    background-color: pink;
}

.popular-section h1 {
    text-align: center;
    padding: 20px 0;
}

.popular-shoe {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px;
    font-size: 18px;
    width: 80%;
}

.popular-shoes {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.popular-shoes > div {
    width: 33.3%;
}

.popular-shoes img {
    width: 90%;
    margin: auto;
    height: 20rem;
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
}

.popular-shoes img:hover {
    transform: scale(1.04)
}

.training-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 60px;
}

.training-intro {
    display: flex;
    justify-content: space-between;
    padding: 30px 0; 
}

.trainig-pics {
    display: flex;
    justify-content: space-between;
}

.trainig-pics-div1 {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    width: 40%;
}

.trainig-pic1, .trainig-pic2 {
    width: 80%;
    height: 50%;
    border-radius: 15px;
}

.trainig-pic3 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.trainig-pics-div2 {
    width: 60%;
}

.featured {
    display: flex;
    padding: 80px 60px;
}

.featured-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 60%;
}

.flash-sale {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px;
    text-align: center
}

.flash-sale div {
    display: flex;
    column-gap: 20px;
}

.flash-sale div img {
    width: 33.3%;
    border-radius: 15px;
}

.testimonials {
    display: flex;
    column-gap: 10px;
    padding: 60px;
    justify-content: center;
}

.testimonials img {
    width: 50%;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 30px;
}

.testimonials-card > div {
    display: flex;
    column-gap: 10px;
}

.testimonials-card > div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials-name {
    font-size: 25px;
}

.testimonials-title {
    font-size: 15px;
    margin-top: 5px;
}

.testimonials-card div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonials-card > p::before,
.testimonials-card > p::after {
    content: '\201C';
    font-size: 4em;
    color: #333;
    display: inline-block;
    margin-right: 5px;
}

.testimonials-card > p::after {
    content: '\201D';
    margin-left: 5px;
}

.about-us {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 60px;
    text-align: center;
    background-color: #66a3ff
}

.about-us > h2 {
    font-size: 20px;
}

.subscribe {
    display: flex;
    column-gap: 20px;
    padding: 60px;
}

.subscribe > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;
}

.subscribe h2 {
    font-size: 50px;
}

.subscribe form {
    display: flex;
    margin: 0;
}

.subscribe input,
.subscribe button {
    margin: 0;
    padding: 14px 50px;
}

.subscribe img {
    width: 50%;
}

footer {
    padding: 60px;
    display: flex;
    column-gap: 10px;
    background-color:#ff66b2 ;
}

footer > div {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 20px;
    height: 20px;
}

footer > :nth-child(1) {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-right: 7px;
}

footer > :nth-child(n+2) {
    width: 17.5%;
}

footer a {
    padding-top: 8px;
    text-decoration: none;
}
