* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(to bottom, #ff66b2, #66a3ff);
  padding: 10px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

.nav-items a {
  display: none;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav img {
  width: 70px;
  height: 70px;
}

.icons img {
  width: 30px;
  height: 30px;
}

.search, .shopping-cart {
  display: none;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 5px;
}

section {
  opacity: 0.2;
  transition: opacity 0.7s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.hero-side {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.hero-side h1 {
  font-size: 18px;
}

.hero-side div span {
  font-size: 20px;
  margin-right: 5px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.btn1 {
  background-color: blue;
  color: white;
}

.btn2 {
  background-color: pink;
}

.hero-shoe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  margin-left: -50px;
}

.hero-shoe img {
  width: 90vw;
  height: 16rem;
}

.popular-section h1 {
  text-align: center;
  padding: 20px 0;
}

.popular-shoe-text {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  font-size: 18px;
  width: 80%;
  text-align: center;
}

.popular-shoes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
  margin: 0 20px;
}

.popular-shoes img {
  width: 100%;
  height: 16rem;
  border-radius: 15px;
  transition: transform 0.1s ease-in-out;
}

.popular-shoes img:hover {
  transform: scale(1.04);
}

.training-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 25px;
}

.training-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}

.training-intro > h2 {
  font-size: 40px;
}

.training-intro p {
  margin: 10px 0;
  font-size: 20px;
}

.training-pics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.training-pics-div1 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.training-pic1,
.training-pic2 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.training-pic3 {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.featured {
  display: flex;
  flex-direction: column;
  padding: 80px 30px;
}

.featured-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.featured iframe {
  width: 100%;
  height: 100%;
}

.flash-sale {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 30px;
  text-align: center;
}

.flash-sale div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 20px;
}

.flash-sale div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.testimonials {
  padding: 30px;
  text-align: center;
}

.testimonials > div {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  justify-content: center;
}

.testimonials img {
  width: 100%;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px 30px;
}

.testimonials-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.testimonials > div > img {
  border-radius: 15px;
}

.testimonials-card > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-name {
  font-size: 25px;
}

.testimonials-title {
  font-size: 15px;
  margin-top: 5px;
}

.testimonials-card div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonials-card > p::before,
.testimonials-card > p::after {
  content: "\201C";
  font-size: 4em;
  color: #333;
  display: inline-block;
  margin-right: 5px;
}

.testimonials-card > p::after {
  content: "\201D";
  margin-left: 5px;
}

.about-us {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
  text-align: center;
  background-color: #66a3ff;
}

.subscribe {
  padding: 20px;
  text-align: center;
}

.subscribe-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  row-gap: 25px;
}

.subscribe form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 0;
}

.subscribe input,
.subscribe button {
  margin: 0;
  padding: 10px 25px;
}

.subscribe > div img {
  width: 50%;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
}

footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: #ff66b2;
}

footer > div {
  display: flex;
  flex-direction: column;
}

footer img {
  width: 20px;
  height: 20px;
}

footer > :nth-child(1) {
  /* width: 30%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-right: 7px;
}

footer > :nth-child(n + 2) {
  /* width: 17.5%; */
}

footer a {
  padding-top: 8px;
  text-decoration: none;
}


@media (min-width: 400px) {
  .hero-side h1 {
    font-size: 20px;
  }

  .featured iframe {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 600px) {
  .hero-shoe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-left: -10px;
  } 

  .hero-shoe img {
    width: 70vw;
    height: 16rem;
  }

  .popular-shoes img {
    margin: auto;
    height: 20rem;
  }

  .subscribe form {
    flex-direction: row;
    justify-content: center;
  }

  .subscribe input,
  .subscribe button {
  margin: 0;
  padding: 10px 35px;
  }
}

@media (min-width: 801px) {
  .nav-items a {
    text-decoration: none;
    padding-right: 3px;
    font-size: 20px;
    display: inline-flex;
  }

  .search, .shopping-cart {
    display: inline-flex;
  }

  .hamburger {
    display: none;
  }

  .popular-shoes img {
    height: 25rem;
  }

  .popular-shoe-text {
    font-size: 22px;
    width: 90%;
  }

  .training-intro > h2 {
    font-size: 50px;
  }

  .training-pics-div1 p:nth-child(2) {
    font-size: 20px;
  }

  .featured-div span {
    font-size: 18px;
  }

  .featured-div p, .flash-sale p, .testimonials-card p, .about-us p, .subscribe p {
    font-size: 20px;
  }

  .testimonials-card div {
    justify-content: center;
    align-items: center;
    column-gap: 2px;
    padding: 5px;
  }

  .subscribe input, .subscribe button {
  margin: 0;
  padding: 10px 60px;
  }

  footer p {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .hero-section {
    flex-direction: row;
  }

  .hero-side {
    width: 50%;
  }

  .hero-side h1 {
    font-size: 20px;
  }

  .hero-shoe {
    margin-left: 0px;
    width: 50%;
  }
  
  .hero-shoe img {
    width: 100%;
    height: 16rem;
  }

  .popular-shoes {
    flex-direction: row;
  }

  .popular-shoes > div {
    width: 33.3%;
  }

  .popular-shoes img {
    width: 90%;
    height: 16rem;
    display: flex;
  }

  .popular-shoe-text {
    font-size: 18px;
    width: 80%;
  }
  
  .training-pics {
    flex-direction: row;
    column-gap: 8px;
  }

  .training-pics-div1 img {
    object-fit: cover;
    object-position: center;
  }

  .training-pics-div1 {
    width: 40%;
  }

  .training-pics-div2 {
    width: 60%;
  }

  .training-pic3 {
    display: inline-block;
    object-fit: fill;
    object-position: center;
  }

  .featured-div h1, .flash-sale h1,
  .testimonials h1, .about-us h1, .subscribe h1  {
    font-size: 26px;
  }

  .flash-sale div {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flash-sale div img {
    width: 32%;
    height: 100%;
    border-radius: 15px;
  }

  .testimonials > div {
    flex-direction: row;
    margin: 15px 0;
  }

  .testimonials-card {
    width: 50%;
  }

  .testimonials > div > img {
    width: 50%;
  }

  .about-us {
    padding: 15vh 30px;
  }

  .subscribe > div {
    display: flex;
  }
}

@media (min-width: 1281px) {
}
